@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This website was created as part of my (commonly known as Kezanub online) honours project at Glasgow Caledonian Univeristy</p>
<p>The research at hand was "To Critically Investigate the Accessibility of Browsing Maps on Multi-Touch Mobile Devices for the Visually Impaired."</p>
<p>The goal of this website is to provide a collaborative front where researchers and other interest parties can view the anonymous user responses from the surveys together. Allowing a team based collaborative effort on the research</p>
<p>The data on this website is backed up by my dissertation and user responses to the experiment which was the research instrument of the dissertation, this dissertation and results can be acquired by contacting me</p>
<p>This website is provided under the MIT license and can be used by anyone interested in the research for non profit works</p>
